################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testApp/.vs/testApp/v16
/testApp/Debug/myDll.dll.nam
/testApp/Debug/myDll.dll.til
/testApp/Debug/myDll.dll.id2
/testApp/Debug/myDll.dll.id1
/testApp/Debug/myDll.dll.id0
